#active1{
    color: white;
}
#active2{
    color: white;
}
#active3{
    color: white;
}
#navbarDropdown{
    color: white;
}
#active4{
    color: yellow;
}
#active4:hover{
    color: #FFFBC8;
}
#active1:hover{
    color: orange;
}
#active2:hover{
    color: orange;
}
#active3:hover{
    color: orange;
}
#navbarDropdown:hover{
    color: orange;
}